* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo{
  float: left;
  width: 50px;
  margin: -5px 2%;

}

header nav a {
  color: var(--secondary-color);
  margin: 0 10px;
}

header {
background-color: var(--primary-color);
color: var(--accent2-color);
padding: 1rem;
text-align: right;
}

body {
font-family: var(--body-font);
color: var(--accent1-color);
}

main{
width: 840px;
margin: 0 auto;
}

h1, h2 {
padding: 10px;
font-family: var(--heading-font);
color: var(--primary-color);
}

.socialmedia a {
text-decoration: none;
}

.hero img {
width: 90%;
margin: 0 auto;
display: block;
position:relative;
}

footer {
width: 100%;
background-color: var(--primary-color);
border-top: 1px solid --accent1-color;
text-align: center;
color: var(--secondary-color);
position: realtive;
bottom: 0;
padding: 0.1rem 0;
text-decoration:d;
}

footer nav {
  margin-top: -50px;
  margin-right: 10%;
  float: right;
}

footer img{
  width: 30px;
  height: 30px;
}

:root {
--primary-color: #055a05; /* forest green */
--secondary-color: #f4a261; /* warm sand */
--accent1-color: #264653; /* dark slate blue */
--accent2-color: #e9c46a; /* light golden yellow */
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}