:root {
  --primary-color: #055a05;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === B O D Y ===*/
body {
  font-family: var(--body-font);
  background-color: #f9f9f9;
  color: var(--accent1-color);
  max-width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
}

/* === HEADER === */
header {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

main {
  margin-top: 10px;
}

.main-nav {
  display: flex;
  gap: 1.5rem;
}

.main-nav a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* === HERO === */

.hero {
  position: relative;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  padding: 1rem;

  background-color: var(--accent2-color);
  box-shadow: 0 0 30px gray;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero article p {
  flex: 1;
  text-align: justify;
  margin-right: 1rem;
  color: var(--accent1-color);
}

.hero article img {
  width: 150px;
  height: auto;
  align-self: flex-end;

  /* === SECTIONS === */
  section {
    margin: 1.5rem auto;
    max-width: 800px;
  }

  section h2 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }

  section p {
    background-color: var(--accent2-color);
    padding: 1rem;
    border-radius: 4px;
  }

  section ul {
    background-color: var(--accent2-color);
    padding: 1rem 0px 1rem 50px;
    border-radius: 4px;
  }

  /* === FOOTER === */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
  }

  footer p {
    margin: 0 auto;
    text-align: center;
    flex: 1;
    color: white;
  }

  .social-media {
    display: flex;
    gap: 1rem;
  }

  .social-media a {
    display: flex;
    /* Align image and text side by side */
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .social-media img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }