:root {
--primary-color: #055a05; /* forest green */
--secondary-color: #f4a261; /* warm sand */
--accent1-color: #264653; /* dark slate blue */
--accent2-color: #e9c46a; /* light golden yellow */
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo{
  float: left;
  width: 50px;
  margin: -5px 2%;

}

header nav a {
  color: var(--secondary-color);
  margin: 0 10px;
}

header {
background-color: var(--primary-color);
color: var(--accent2-color);
padding: 1rem;
text-align: right;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  max-width: 960px;
  margin: 0 auto;
}

p{
  text-align: justify;
}

div h1 {
margin: 20px 80px 10px;
padding: 0 10px 0 20px;
text-align: center;
width: 800px;
font-family: var(--heading-font);
color: var(--primary-color);
background-color:#e9c46a;
position: absolute;
}

.socialmedia a {
text-decoration: none;
}

.hero img {
width: 800px;
display: block;
margin: 30px auto 30px ;
}

article p {
width: 450px;
padding: 1.2rem;
margin: -160px 0 30px 80px;
background-color: var(--secondary-color);
position: absolute;
}

footer {
width: 100%;
background-color: var(--primary-color);
border-top: 1px solid var(--accent1-color);
text-align: center;
color: var(--secondary-color);
padding: 1rem;
margin-top: 100px;
}

footer p{
  text-align: center;
}

footer nav {
  margin-top: -25px;
  margin-right: 10%;
  float: right;
}

footer img{
  width: 30px;
  height: 30px;

}