* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.logo {
  width: 100px;
}

header {
background-color: var(--primary-color);
color: var(--accent2-color);
}

body {
font-family: var(--body-font);
color: var(--accent1-color);
}

header, main, footer {
width: 840px;
margin: 0 auto;
}

nav a {
  color: var(--secondary-color);
}


h1, h2 {
font-family: var(--heading-font);
color: var(--primary-color);
}

nav, p, section, article {
margin: 16px;
padding: 8px;
}

.socialmedia a {
text-decoration: none;
}

.hero {
position: relative;
}

.hero img {
display: block;
width: 100px;
height: auto;
float: right;
}

footer {
width: 100%;
background-color: var(--primary-color);
border-top: 1px solid --accent1-color;
text-align: center;
color: var(--secondary-color);
position: fixed;
bottom: 0;
}

footer nav {
  margin-top: -50px;
  float: right;
  background-color: var(--primary-color);
}

footer img{
  width: 20px;
  height: 20px;
}

:root {
--primary-color: #055a05; /* forest green */
--secondary-color: #f4a261; /* warm sand */
--accent1-color: #264653; /* dark slate blue */
--accent2-color: #e9c46a; /* light golden yellow */
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}