/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 5px;
    display: block;
}

main {
    padding: 2rem;
    max-width: fit-content;
    margin-bottom: 12%;
}

main p {
    margin: 20px 0px 0px 50px;

}

main img {
    width: 200px;
    height: 200px;
    border: 1px solid steelblue;
    padding: 5px;
    box-shadow: 0 0 30px gray;
    position: relative;
    float: left;
    margin-left: 10px;
}

h1 {
    color: steelblue;
    padding: 10px 10px;
}

p {
    padding: 0;
}

/* Aside Selectors */

aside {
    width: auto;
    height: auto;
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    margin: 10px 30px 30px 30px;
}

aside h2 {
    margin-left: 43%;
    margin-bottom: 10px;
}

aside p {
    margin: 10px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 5px;
    box-shadow: 0 0 30px gray;
    margin-left: 40%;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    background-color: gainsboro;
    border-top: 1px solid #000;
    text-align: center;
    text-decoration: solid;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 10px;
}